<!DOCTYPE html>
<html>
<head>
    <title>JobMastery - Success Stories</title>
    {% include 'layout.html' %}
</head>
<body background="/static/ptk.jpg">
    {% include 'nav.html' %}
    {% include 'banner.html' %}
   
    <div class="container mt-4">
        <h1 class="text-center mb-4">Success Stories</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/629555166/photo/mature-businessman-in-the-office.jpg?s=612x612&w=0&k=20&c=TyJWnGrnWR1nWuvhF9ULOX8ppX0wjXTtgAx_fmX08G8=" class="card-img-top" alt="Success Story 1">
                    <div class="card-body">
                        <h5 class="card-title">From Intern to CEO</h5>
                        <p class="card-text">Meet John Doe, who started as an intern at a tech startup and worked his way up to become the CEO. Learn about his journey, challenges, and the skills that led to his success in the tech industry.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1523287562758-66c7fc58967f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3VjY2Vzc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Success Story 2">
                    <div class="card-body">
                        <h5 class="card-title">Career Change Success</h5>
                        <p class="card-text">Read Sarah's story of how she made a successful career change from marketing to software development. Discover how she acquired new skills and certifications to pursue her passion for coding.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1334591614/photo/man-using-digital-tablet-online-connect-to-internet-banking-currency-exchange-online-shopping.webp?b=1&s=170667a&w=0&k=20&c=uVgjqk6ZUldPjFOUX35vNMUzJZ6tz_IDV7apr1AWhII=" class="card-img-top" alt="Success Story 3">
                    <div class="card-body">
                        <h5 class="card-title">Rising Star in Finance</h5>
                        <p class="card-text">Learn about David's incredible journey in the finance industry, from starting as an entry-level analyst to becoming a key player in the investment world.</p>
                    </div>
                </div>
            </div>
            <!-- Add more success stories cards here if needed -->
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1622586757007-efda9475c347?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGVudGVycHJlbmV1cnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Success Story 4">
                    <div class="card-body">
                        <h5 class="card-title">Empowering Entrepreneurs</h5>
                        <p class="card-text">Meet Jessica, a successful entrepreneur who turned her passion for sustainability into a thriving business. Discover how she overcame obstacles to make a positive impact on the world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1511578314322-379afb476865?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29ycG9yYXRlJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Success Story 5">
                    <div class="card-body">
                        <h5 class="card-title">Climbing the Corporate Ladder</h5>
                        <p class="card-text">Read Michael's story of how he navigated corporate challenges and leadership roles to reach the pinnacle of success as a respected executive in the business world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1357676694/photo/metaverse-and-future-digital-technology-man-wearing-vr-glasses-hand-touching-virtual-global.jpg?s=612x612&w=0&k=20&c=islTgISkzYQmaQanta49mwCC71aTYL8MiPNckXymCeY=" class="card-img-top" alt="Success Story 6">
                    <div class="card-body">
                        <h5 class="card-title">Breaking Barriers in Tech</h5>
                        <p class="card-text">Explore Tina's journey of overcoming gender barriers in the tech industry and becoming an influential tech leader, inspiring women in STEM along the way.</p>
                    </div>
                </div>
            </div>
            <!-- Add more success stories cards here if needed -->
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
